.container{
  width : 100%;
  height: 100vh;
  background-color: #A28089;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todos{
  width: 50%;
  height: 90%;
  background-color: #edf7f6;
  border-radius: 20px;
  border: solid 5px ;
  border-color: #9df9ef;
  word-wrap: break-word !important;
}
.title{
  font-size: 80px;
  display: flex;
  justify-content: center;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #335575;
}
.todoForm{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;

}
input{
  width: 75%;
  height: 2.9rem;
  margin: 2%;
  border-radius: 15px;
}
input:focus{
outline: none;
}
.addButton{
  border-radius: 20px;
  width: 25%;
  height: 3rem;
  margin-top: 15px;
  background-color: #ffa8b6;
  transition: 1s;
  border : 0;
}
.addButton:hover{
  background-color:#720c28;
  color : #fff;

}
.todoForm{
  list-style-type: none;
  display: flex;
  justify-content :space-between;
  word-wrap: break-word !important;
}
ul{
  padding-left: 5px;
  word-wrap: break-word !important;
}
li{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 12px;
  font-weight: bold;
  font-size: large;
  word-wrap: break-word !important;

}
i{
  margin-right: 10px;
  display: flex;
  align-items: center;
}
p{
  word-wrap: break-word !important;
  width: 100%;
}